---
import BaseLayout from "../../layouts/base.astro";
import { getCollection } from "astro:content";
const works = await getCollection("works");
import WorkListItem from "../../components/work-list-item.astro";
import MenuListItem from "../../components/menu-list-item.astro";
import AudioPlayer from "../../components/audio-player.astro";
import { Image } from "astro:assets";

import BirdOne from "../../images/bird-1.png";
import BirdTwo from "../../images/bird-2.png";
import BirdThree from "../../images/bird-3.png";
---

<style>
  .gradient {
    background-color: hsla(0, 0%, 52%, 1);
    background-image:
      radial-gradient(
        at 20% 74%,
        hsla(30, 82%, 55%, 0.47) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 21% 13%,
        hsla(201, 47%, 34%, 0.52) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 76% 72%,
        hsla(17, 74%, 52%, 0.56) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 79% 13%,
        hsla(195, 26%, 52%, 0.35) 0px,
        transparent 50%
      );
  }
</style>
<BaseLayout staticHeader={true}>
  <div
    class="gradient w-full pt-24 flex flex-row gap-2 flex-grow px-4 pb-4 min-h-lvh relative items-start"
  >
    <div
      class="w-[300px] flex flex-col gap-3 bg-white/50 rounded-lg sticky top-24"
    >
      <MenuListItem title="All" onClick={() => {}} />
      <MenuListItem title="Compositions" onClick={() => {}} />
      <MenuListItem title="Publications" onClick={() => {}} />
      <div
        class="flex flex-col gap-2 w-full justify-center items-center opacity-50 pt-10"
      >
        <Image src={BirdOne} alt="Bird 1" class="w-32 h-32 object-contain" />
        <Image src={BirdTwo} alt="Bird 2" class="w-24 h-24 object-contain" />
        <Image src={BirdThree} alt="Bird 3" class="w-20 h-20 object-contain" />
      </div>
    </div>
    <div class="flex flex-col gap-4 flex-grow px-2">
      {works.map(async (work) => <WorkListItem work={work} />)}
    </div>
  </div>
  <AudioPlayer />
</BaseLayout>
